.accordion__option__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .71rem 0;
    margin-left: .4rem;
}

.accordion__option__container svg {
    font-size: 1.1rem;
}

.accordion__option {
    display: flex;
    font-size: 1.1rem;
    align-items: center;
}

.accordion__option__property {
    margin-left: .45rem;
}