.userchat__container {
    max-width: 550px;
    width: 100%;
    background-color: white;
    max-height: 750px;
}

.userchat__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .1rem 1.2rem 1.2rem;
}

.userchat__lower {
    overflow: scroll;
}

.userchat__lower {
    scrollbar-width: thin; 
    scrollbar-color: rgba(214, 214, 245, 0.699) #f8f8f8; 
  }
  

.userchat__lower::-webkit-scrollbar {
    width: .521em;
    border-radius: .3rem;
}
  

.userchat__lower::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
}

.userchat__lower::-webkit-scrollbar-thumb {
    background-color: #e6d8e69d;
    background-color: rgba(214, 214, 245, 0.699);
    outline: 1px solid #fff6f6;
}



@media (max-width: 1150px) {
    .userchat__container {
        max-width: 600px;
         
    }
}
@media (max-width: 760px) {
    .userchat__container {
        max-width: 600px;
         
    }
}

@media (max-width: 600px) {
    .userchat__container {
        /* display: none; */
        position: absolute;
        top: 0;
        right: 0%;
        height: 100%;
        border: 1px solid #ccc;
        border-top-left-radius: .3rem;
        border-bottom-left-radius: .3rem;
        max-height: 700px;
        width: 100%;
    }
    .uplift__element {
        z-index: 23;
    }
    .downlift__element {
        z-index: 1;
        opacity: 0;
    }
}