.message {
    display: flex;
    align-items: flex-end;
    margin: .81rem 0;
}

.message__sender {
    align-self: flex-end;
}

.message__receiver {
    align-self: flex-start;
}

.message__user__pic {
    width: 2rem;
    margin-right: .71rem;
}

.message__user__pic img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    max-width: 100%;
    border-radius: 50%;
}

.message__container{
    background-color: rgb(194, 194, 243);
    padding: .53rem 1rem;
    border-radius: .53rem;
}

.message__content {
    text-align: start;
}

.message__time__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #555;
    padding: .2rem 0 0 0;
}

.time {
    margin-left: .81rem;
}