.app {
    width: 100%;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* max-width: 1100px; */
    max-width: 1150px;
    min-height: 910px;
}

@media (max-width: 1150px) {
    .app{
        position: relative;
        width: 100%;
        max-width: 760px;
    }
}

@media (max-width: 760px) {
    .app {
        width: 100%;
        margin: 0;
        padding: 2rem 0;
        margin-bottom: 0;
    }
}