.userchat__input__container{
    width: 100%;
    position: relative;
}

.userchat__input__wrapper{
    width: 100%;
}

.userchat__input {
    border: 1px solid #eee;
    border-radius: .3rem;
    padding: .73rem .7rem;
}

.userchat__input__option{
    display: flex;
    align-items: center;
}

.userchat__input__option .icon svg,
.userchat__input__option .text {
    font-size: 1rem;
}

.text {
    margin: 0 .25rem 0 .18rem;
    margin-bottom: .51rem;
}

.ai__options__container {
    position: absolute;
    top: -270px;
    z-index: 4;
    background-color: white;
    border-radius: .3rem;
    border: 1px solid #e4e1e1d5;
    padding: .53rem .7rem;
}

.ai__options {
    padding: .4rem 3rem .3rem .7rem;
    border-radius: .3rem;
    cursor: pointer;
}

.ai__options:hover {
    background-color: #e6e4e4;
}

.text__format__container {
    background-color: white;
    padding: .3rem .7rem;
    position: absolute;
    top: -53px;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #cccccc50;
    border-radius: .3rem;
}

.options__group {
    display: flex;
    align-items: center;
}

.option {
    padding: .3rem .6rem;
    background-color: #fff6f6;
    margin: 0 .2rem;
    border-radius: .3rem;
    cursor: pointer;
}

.option:hover {
    background-color: antiquewhite;
}

.text__bold{
    font-weight: bold;
}

.text__italic {
    font-style: italic;
}

.text__h1 {
    font-size: 1.2rem !important;
}

.text__h2 {
    font-size: 1.4rem !important;
}

.userinput__box {
    width: 100%;
    padding: .3rem .7rem;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: .3rem;
    font-size: 1rem;
    resize: none;
}

.userinput__EmojisAndSendBtn__left {
    display: flex;
    align-items: center;
}

.vertical__line {
    width: 2px;
    height: 19px;
    background: #777;
    margin-bottom: .32rem;
}

.userinput__EmojisAndSendBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input__icon svg,
.userinput__EmojisAndSendBtn__left .vertical__line {
    font-size: 1rem;
    cursor: pointer;
    margin-right: .581rem;
}

.button__send__container {
    background: whitesmoke;
    padding: .3rem .7rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn__send {
    background-color: transparent;
    border: none;
    outline: none;
}

.btn__send__icon {
    font-size: .71rem;
    padding: .2rem 0 0 .2rem;
}

.button__send__container .vertical__line {
    width: 2px;
    height: 15px;
    background: #ccc;
    margin-bottom: .12rem;   
    margin-left: .212rem;   
}